# Working directories
backups/
cache/
leagues/
matchlists/
reports/
libs/
metadata/

# Settings container
rg_settings.json

# Temporary files
tmp*
___*
_default.json

# Testing files
test/
test*.php
output
gi_*
.htaccess

# Custom Styles
res/custom_styles/

# Dependencies
res/dependencies/

# cachelist
cachelist.json
