# Working directories
backups/
cache/
cache2/
leagues/
matchlists/
reports/
libs/
metadata/
tmp/

# Settings container
rg_settings.json

# Temporary files
tmp*
___*
_default.json
nohup.out

# Testing files
test/
test*.php
output
gi_*
.htaccess
test.sh
test2.sh
rg_report_out_settings.php

# Custom Styles
res/custom_styles/

# Dependencies
res/dependencies/

# cachelist
cachelist.json

# symlinks workaround
metadata
res/custom_styles
