# Working directories
backups/
cache/
cache2/
cache3/
leagues/
matchlists/
reports/
libs/
metadata/
tmp/
locales_additional/*
.vscode/

# Settings container
rg_settings.json
res/meowslist.json
res/_meowslist.json

# Temporary files
tmp*
___*
_default.json
nohup.out
ex.out

# Testing files
test/
test*.php
output
gi_*
.htaccess
test.sh
test2.sh
rg_report_out_settings.php
rg_report_out_prerender.php

# Custom imports
modules/__imports

# Custom Styles
res/custom_styles/

# Dependencies
res/dependencies/

# cachelist
cachelist.json

# symlinks workaround
metadata
res/custom_styles

# special locales
!locales_additional/heroes_emoji.json
