table.list , table.pvp {
  border: 1px solid black;
  width: 70%;
  border-spacing: 0px;
  text-align: left;
  margin-top: 60px;
  margin-left: auto;
	margin-right: auto;
  color: #fff;
  border-collapse: collapse;
}
table.list-fixed {
  table-layout: fixed;
}
table.list-small {
  width: 34%;
  float: left;
  min-width: 250px;
}
table.list-small:nth-child(2n-1) {
  margin: 0 1% 30px 15%;
}
table.list-small:nth-child(2n) {
  margin: 0 15% 30px 1%;
}

table.list , table.pvp * {
	font-size: 18px;
	line-height: 34px;
}
table.list td, table.list th {
  padding-left: 30px;
}

table.list tr, table.pvp tr {
    height: 45px;
}
table.list td, table.pvp td {
    border-bottom: 1px solid #101010;
    border-top: 1px solid #101010;
    background-color: #323232;
    opacity: 0.7;
}
table.list tr td {
  font-size: 18px;
  font-family: 'Radiance-SemiBold';
  letter-spacing: 1px;
  padding-top: 5px;
}

table.list caption, table.pvp caption {
    margin-bottom: 30px;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
    color: #D9D9D9;
}
table.list-small caption {
  font-size: 20px;
  height: 50px;
  margin-top: auto;
  margin-bottom: auto;
}
table.list-small tr th:first-child {
  width: 60%;
}
table.wide {
  width: 90%;
}

table.list .thead {
    height: 26px;
    background-color: #525353 !important;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-top: 7px;
    color: white;
    opacity: 1;
    cursor: pointer;
}
table.list .thead th {
    font-size: 12px;
    line-height:normal;

}
table.wide .thead {
  height: 52px;
}


table.list tr:hover td {
    opacity: 1;
}

table.pvp {
  text-align: center;
  table-layout: fixed;
  border: 1px solid #000;
}
table.pvp tr td:first-child {
  background-color: #525353 !important;
}
table.pvp .thead th:first-child {
  width: 10%;
}
table.pvp tr th+th {
  width: auto;
}
table.pvp .thead th  {
  background-color: #525353 !important;
  white-space: nowrap;
  position: relative;
  cursor: pointer;
  opacity: 0.8;
  overflow: hidden;
}
table.pvp .thead th:hover  {
  opacity: 1;
  overflow: initial;
}
table.pvp .thead th span{
  line-height: 52px;
  display: block;
  margin: 0 7px;

  transition: all 100ms ease;
  z-index: 1000;
  position: absolute;
  top:0;
  left:0;
  width:inherit;
  overflow:hidden;
}
table.pvp .thead th span:hover {
  position: absolute;
  width: auto;
  opacity:1;
  overflow:initial;
  background-color: #525353;
  padding: 0 10px;
  margin: 0;
  box-shadow: 0 0 5px #000;
}
table.pvp td {
    cursor: pointer;
    opacity: 0.6;
}

table.pvp tr td.low-wr {
  background-color: #3d2323;
}
table.pvp tr td.high-wr {
  background-color: #243c22;
}
table.pvp tr td.transparent {
  opacity: 0.4;
}
table.pvp tr:hover td {
    opacity: 0.8;
}
table.pvp tr td:hover {
    opacity: 1 !important;
}

table .hero_portrait {
  height: 18px;
  display: inline-block;
  vertical-align: sub;
}

.matchlist {
  display: table-row;
}


.content-cards .match-card {
  padding: 30px 0;
  border-bottom: 1px solid #464646;
}
.content-cards .match-card:last-child {
  border: none;
}

.match-card {
  font-size: inherit;
  line-height: inherit;
  overflow: hidden;
}

.match-id {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: bold;
  color: #D9D9D9;
}
.match-team.radiant {
  float:left;
}
.match-team.dire {
  float:right;
}
.match-team {
  width: 46%;

  font-size: inherit;
  line-height: inherit;
}
.match-team .match-players .match-player {
  font-size: 14px;
  color: #fff;
  width: 20%;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}
.match-team .match-heroes .match-hero {
  width: 20%;
  display: inline-block;
}
.match-team .match-heroes .match-hero img {
  width: 90%;
  margin:5% 0 ;
}
.match-team-name {
  text-align: center;
  font-size: 24px;
  line-height: 36px;
}
.match-add-info {
  clear: both;
  padding-top: 10px;
}
.match-info-line {
  font-size: 16px;
  line-height: 20px;
}
.match-info-line .caption {
  font-weight: bold;
  font-size: inherit;
}
