html {
  --body-bg: #0a0a0a;
  --link: #fff;
  --navlink: #eee;
  --selector-link: #fff;
  --selector-bg: #aaa;
  --section-header: #090909;
  --section-header-h1: #fff;
  --section-header-h2: #bbb;
  --section-header-h3: #999;
  --text-shadow: #000;
  --content-bg: #000;
  --content-header: #525353;
  --content-text-overview: #fff;
  --caption: #D9D9D9;
  --text: #aaa;
  --section-border: #464646;
  --selectors-bg: #323232;
  --nav-item: #cecece;
  --footer: #525050;
  --footer-link: #948787;
  --modal-header: #fff;
  --modal-text: #fff;
  --modal-content-bg: #525353;
  --table-bg: #323232;
  --table-border: #101010;
  --table-text: #fff;
  --table-thead-bg: #525353;
  --table-thead-text: #fff;
  --tagslist-bg: #323232;
  --tagslist-bg-hover: #464646;
  --tagslist-active: #525353;
  --name-bg: rgba(255,255,255,0.2);
  --subname-bg: rgba(255,255,255,0.1);

  --low-wr: #3d2323;
  --high-wr: #243c22;
}

body {
  min-width: 1200px;
}

table.list , table.pvp {
  border: 1px solid var(--table-border);
  width: 82%;
  border-spacing: 0px;
  text-align: left;
  margin-top: 30px;
  margin-left: auto;
	margin-right: auto;
  color: var(--table-text);
  border-collapse: collapse;
}
table.list-fixed {
  table-layout: fixed;
}
table.list-small {
  width: 40%;
  float: left;
  /* min-width: 250px; */
}
table.list-small:nth-child(2n-1) {
  margin: 0 1% 30px 9%;
  float: left;
}
table.list-small:nth-child(2n) {
  margin: 0 9% 30px 1%;
  float: left;
}
/*div:not(#module-overview) >
.small-list-wrapper > */
table.list-small:last-of-type:not(:nth-child(2n)) {
    margin: 0 auto 30px auto;
    float: none;
}
#heroes-draft-0-3, #heroes-draft-1-3 {
  margin: 0 auto;
  float: none;
  clear: both;
}



table.list , table.pvp * {
	font-size: 18px;
	line-height: 34px;
}
table.list td, table.list th {
  padding-left: 30px;
}

table.list tr, table.pvp tr {
    height: 45px;
}
table.list td, table.pvp td {
    border-bottom: 1px solid var(--table-border);
    border-top: 1px solid var(--table-border);
    background-color: var(--table-bg);
    opacity: 0.6;
}
table.list tr td {
  font-size: 18px;
  font-family: 'Radiance-SemiBold';
  letter-spacing: 1px;
  padding-top: 5px;
}

table.list caption, table.pvp caption {
    margin-bottom: 30px;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
    color: var(--caption);
}
table.list-small caption {
  font-size: 20px;
  height: 50px;
  margin-top: auto;
  margin-bottom: auto;
}
table.wide {
  width: 98%;
}
table.wide td, table.wide th {
    padding-left: 15px;
}
table.wide tr td {
    font-size: 16px;
}

table.list thead tr {
    height: 26px;
    background-color: var(--table-thead-bg) !important;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-top: 7px;
    color: var(--table-thead-text);
    opacity: 1;
    cursor: pointer;
}
table.list thead tr th {
    font-size: 12px;
    line-height:normal;
}
table.wide thead tr {
  height: 52px;
}
thead tr.overhead {
  text-align: center;
  height: 26px !important;
}
thead tr.overhead th {
  padding-left: 0;
}
table thead tr:nth-of-type(2) {
  opacity: 0.8;
  height: 26px !important;
}
table .separator {
  border-left: 2px solid rgba(0,0,0,0.1);
  margin-left: 2px;
}

.small-list-wrapper {
  margin-top: 30px;
  overflow: hidden;
}



table.list tr:hover td {
    opacity: 0.85;
}

table.list tr.highlighted td {
    opacity: 1;
}

table.pvp {
  text-align: center;
  table-layout: fixed;
  border: 1px solid #000;
}
table.pvp td, table.pvp th {
  padding-left: 0;
}
table.pvp tr td:first-child {
  background-color: var(--table-thead) !important;
}
table.pvp thead tr th:first-child {
  width: 10%;
}
table.pvp tr th+th {
  width: auto;
}
table.pvp thead tr th  {
  background-color: var(--table-thead) !important;
  white-space: nowrap;
  position: relative;
  cursor: pointer;
  opacity: 0.8;
  overflow: hidden;
}
table.pvp thead tr th:hover  {
  opacity: 1;
  overflow: initial;
}
table.pvp thead tr th span {
  line-height: 52px;
  display: block;
  margin: 0 7px;

  transition: all 100ms ease;
  z-index: 1000;
  position: absolute;
  top:0;
  left:0;
  width:inherit;
  overflow:hidden;
}
table.pvp thead tr th span:hover {
  position: absolute;
  width: auto;
  opacity:1;
  overflow:initial;
  padding: 0 10px;
  margin: 0;
  background-color: inherit;
}
table.pvp td {
    cursor: pointer;
    opacity: 0.6;
}

table.pvp tr td.low-wr {
  background-color: var(--low-wr) !important;
}
table.pvp tr td.high-wr {
  background-color: var(--high-wr) !important;
}
table.pvp tr td.transparent {
  opacity: 0.4;
}
table.pvp tr:hover td {
    opacity: 0.8;
}
table.pvp tr td:hover {
    opacity: 1 !important;
}

table .hero_portrait {
  height: 18px;
  display: inline-block;
  vertical-align: sub;
}

.matchlist {
  display: table-row;
}


.content-cards .match-card, .content-cards .player-card {
  padding: 30px 0;
  border-bottom: 1px solid var(--section-border);
}
.content-cards .match-card:last-child, .content-cards .player-card:last-child {
  border: none;
}

.match-card, .player-card, .team-card {
  overflow: hidden;
  padding-bottom: 20px;
  max-height: 500px;
  transition: all 300ms ease;
}
.team-card {
  max-height: 300px;
  transition: all 300ms ease;
  margin-bottom: 20px;
}
.team-card:hover {
  max-height: 4000px;
  /* TODO any better ideas? */
}
.team-card.full {
  max-height: none;
}
.player-card.full {
  max-height: none;
}
.match-card.full {
  max-height: none;
}
.match-card *, .player-card *, .team-card * {
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
}

.match-id {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: bold;
  color: var(--caption);
  float: left;
  width: 4%;
}
.match-id a {
  font-size: inherit;
  line-height: inherit;
}
.match-team.radiant {
  float:left;
}
.match-team.dire {
  float:left;
}
.match-team {
  width: 34%;
  margin: 30px 2% 0;
  font-size: inherit;
  line-height: inherit;
}
.match-team .match-players {
  position: relative;
}
.match-team .match-players .match-player {
  font-size: 14px;
  color: #fff;
  width: 20%;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.match-team .match-heroes .match-hero {
  width: 20%;
  display: inline-block;
}
.match-team .match-heroes .match-hero img {
  width: 90%;
  margin:5% 0 ;
}
.match-team-name {
  text-align: center;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: -1px;
  height: 36px;
  overflow: hidden;
}
.match-team-name.winner {
  text-decoration: underline;
}
.match-team-nw {
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  opacity: 0.8;
}
.match-add-info {
  float: right;
  width: 20%;
  padding-top: 10px;
}
.match-info-line {
  font-size: 16px;
  line-height: 20px;
}
.match-info-line .caption {
  font-weight: bold;
  font-size: inherit;
}
.match-team-score {
  font-size: 18px;
  line-height: 36px;
}
.radiant .match-team-score {
  float: right;
}
.dire .match-team-score {
  float: left;
}

.player-name {
  font-size: 28px;
  text-align: left;
  font-weight: bold;
  color: var(--caption);
  margin-bottom: 10px;
  background-color: var(--name-bg);
  padding: 5px;
}
.player-name a {
  font-size: inherit;
  line-height: inherit;
}
.player-team {
  font-size: 22px;
  text-align: left;
  color: var(--caption);
  margin-bottom: 15px;
  background-color: var(--subname-bg);
  padding: 5px;
}

.player-heroes, .player-positions {
  float: right;
  width: 26%;
  text-align: left;
  margin: 0 2%;
}
.player-add-info {
  float: left;
  width: 26%;
  text-align: left;
  margin-left: 2%;
  margin-top:11px;
}
.player-heroes .hero_portrait {
  height: 18px;
  display: inline-block;
  vertical-align: sub;
}

.section-caption {
  font-size: 22px;
  text-align: left;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: var(--link);
}

.player-info-line {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 10px;
}
.player-info-line .caption {
  font-weight: bold;
  font-size: inherit;
}

.section-lines .player-info-line:first-of-type {
  font-size: 20px;
  font-weight: bold;
}

.team-name {
  font-size: 28px;
  text-align: left;
  font-weight: bold;
  color: var(--caption);
  margin-bottom: 10px;
  background-color: var(--name-bg);
  padding: 5px;
}
.team-name a {
  font-size: inherit;
  line-height: inherit;
}
.team-info-block .hero_portrait {
  height: 18px;
  display: inline-block;
  vertical-align: sub;
}

.team-info-line {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 10px;
}
.team-info-line .caption {
  font-weight: bold;
  font-size: inherit;
}
.team-info-block {
  float: left;
  width: 21%;
  text-align: left;
  margin: 0 1%;
  margin-top:11px;
}
.team-card .team-info-block:nth-child(2) {
  width: 13%;
}
.team-card .team-info-block:last-child {
  width: 37%;
}

.graph {
  width: 1200px;
  height: 900px;
  margin: 0 auto;
}

.hero {
  display: inline-block;
  position: relative;
  opacity:0.8;
}
.hero:hover {
  opacity: 1;
}
.hero .hero_name {
  display: block;
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 14px;
}
.small-heroes .hero img {
  height: 54px;
  width: 96px;
}
.small-heroes .hero .hero_name {
  font-size: 11px;
}

.content-text .hero-list {
  line-height: 0px;
}

.chart-pie {
  width: 40%;
  margin: 0%;
  height: auto;
  display: inline-block;
}


.content-text.overview:first-of-type {
    margin-top: 30px;
}
.content-text.overview {
    margin: 0;
    padding: 30px 10% 30px 10%;
    line-height: 28px;
    font-size: 18px;
    color: var(--content-text-overview);
    background-position: right center;
    background-size: auto;
    background-repeat: no-repeat;
}
.content-text.overview .content-header {
    /* margin: 0; */
    margin-bottom: 30px;
}
.content-text.overview.overview-head {
    /* background-image: url('555.png'); */
    background-size: cover;
}


.content-text.overview.overview-head .block-content {
    font-size: inherit;
    line-height: inherit;
    margin-bottom: 10px;
}
.content-text.overview.overview-head .block-content:last-of-type {
    margin: 0;
}
.content-text.overview.overview-graphs {
    padding: 30px 15% 30px 15%;
    text-align: center;
}
.left-placing {
    text-align: left;
}

.tagslist {
  margin-left: 5%;
  margin-right: 5%;
}

.tagslist .category {
  display: inline-block;
  background-color: var(--tagslist-bg);
  width: 280px;
  font-size: 18px;
  text-align: center;
  padding: 8px 0;
  font-family: 'Radiance-SemiBold';
  text-shadow: 2px 2px 6px var(--text-shadow);
  margin: 10px;
  transition: 200ms all ease;
}
.tagslist .category:hover {
  background-color: var(--tagslist-bg-hover);
  text-decoration: none;
}
.tagslist .category.active {
  background-color: var(--tagslist-active);
}
