html {
  --body-bg: #0a0a0a;
  --link: #fff;
  --navlink: #eee;
  --selector-link: #fff;
  --selector-bg: #aaa;
  --section-header: #090909;
  --section-header-h1: #fff;
  --section-header-h2: #bbb;
  --section-header-h3: #999;
  --text-shadow: #000;
  --content-bg: #000;
  --content-header: #525353;
  --content-text-overview: #fff;
  --caption: #D9D9D9;
  --text: #aaa;
  --section-border: #464646;
  --selectors-bg: #323232;
  --nav-item: #cecece;
  --footer: #525050;
  --footer-link: #948787;
  --modal-header: #fff;
  --modal-text: #fff;
  --modal-content-bg: #525353;
  --table-bg: #323232;
  --table-border: #101010;
  --table-text: #fff;
  --table-thead-bg: #525353;
  --table-thead-text: #fff;
  --tagslist-bg: #323232;
  --tagslist-bg-hover: #464646;
  --tagslist-active: #525353;
  --name-bg: rgba(255,255,255,0.2);
  --subname-bg: rgba(255,255,255,0.1);

  --low-wr: #3d2323;
  --high-wr: #243c22;

  --low-wr-bright: #601616;
  --high-wr-bright: #166016;
}

@keyframes collapseAnimationCell {
  0% {
    transform: translateY(-50%) scaleY(0);
    height: 0px;
    display: none;
  }
  15% {
    transform: translateY(-50%) scaleY(0);
    height: 10px;
    display: table-cell;
  }
  100% {
    transform: translateY(0) scaleY(1);
    height: auto;
    display: table-cell;
  }
}
@keyframes collapseAnimationRow {
  0% {
    transform: translateY(-50%) scaleY(0);
    height: 0px;
  }
  100% {
    transform: translateY(0) scaleY(1);
    height: auto;
  }
}

body {
  min-width: 1300px;
}

table.list , table.pvp, .flextable {
  border: 1px solid var(--table-border);
  width: 82%;
  border-spacing: 0px;
  text-align: left;
  margin-top: 30px;
  margin-left: auto;
	margin-right: auto;
  color: var(--table-text);
  border-collapse: collapse;
}
table.list-fixed {
  table-layout: fixed;
}
table.list-small {
  width: 48%;
}
#heroes-draft-0-3, #heroes-draft-1-3 {
  margin: 0 auto;
  float: none;
  clear: both;
}



table.list , table.pvp * {
	font-size: 18px;
  line-height: 34px;
  border-collapse: separate;
}
table.list td, table.list th, .flextable .block {
  padding-left: 25px;
}
table.list td.centered, table.list th.centered, .flextable .block.centered {
  padding-left: 0;
  text-align: center;
}

table.list tr, table.pvp tr, .flextable .line {
    height: 45px;
    background-color: var(--table-bg);
    opacity: 0.7;
}
table.list tr td, .flextable .line .block {
  font-size: 18px;
  font-family: 'Radiance-SemiBold';
  letter-spacing: 1px;
  padding-top: 5px;
  border-bottom: 1px solid var(--table-border);
}

table.list caption, table.pvp caption, .flextable caption {
    margin-bottom: 30px;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
    color: var(--caption);
}
table.list-small caption {
  font-size: 20px;
  height: 50px;
  margin-top: auto;
  margin-bottom: auto;
}
table.wide, .flextable.wide {
  width: 98%;
}
table.wide td, table.wide th, .flextable.wide .block {
    padding-left: 15px;
}
table.wide tr td, .flextable.wide .line .block {
    font-size: 16px;
}

table.list thead tr, .flextable .header {
    height: 26px;
    background-color: var(--table-thead-bg) !important;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-top: 7px;
    color: var(--table-thead-text);
    opacity: 1;
    cursor: pointer;
}
table.list thead tr th, .flextable .header .block {
    font-size: 12px;
    line-height:normal;
}
table.wide thead tr, .flextable.wide .header {
  height: 52px;
}
thead tr.overhead, .flextable .header.overhead {
  text-align: center;
  height: 26px !important;
}
thead tr.overhead th, .flextable .header.overhead .block {
  padding-left: 0;
}
table thead tr:nth-of-type(2), .flextable .header:nth-of-type(2) {
  opacity: 0.8;
  height: 26px !important;
}
table .separator, .flextable .separator {
  border-left: 2px solid var(--table-border);
  margin-left: 2px;
}

.small-list-wrapper {
  margin: 30px 9% 0;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}



table.list tbody tr:hover, .flextable .body .line:hover {
    opacity: 0.85;
}

table.list tr.highlighted, .flextable .line.highlighted {
    opacity: 1 !important;
}

table.pvp {
  text-align: center;
  table-layout: fixed;
  border: 1px solid #000;
}
table.pvp td, table.pvp th {
  padding-left: 0;
}
table.pvp tr td:first-child {
  background-color: var(--table-thead) !important;
}
table.pvp thead tr th:first-child {
  width: 10%;
}
table.pvp tr th+th {
  width: auto;
}
table.pvp thead tr th  {
  background-color: var(--table-thead) !important;
  white-space: nowrap;
  position: relative;
  cursor: pointer;
  opacity: 0.8;
  overflow: hidden;
}
table.pvp thead tr th:hover  {
  opacity: 1;
  overflow: initial;
}
table.pvp thead tr th span {
  line-height: 52px;
  display: block;
  margin: 0 7px;

  transition: all 100ms ease;
  z-index: 1000;
  position: absolute;
  top:0;
  left:0;
  width:inherit;
  overflow:hidden;
}
table.pvp thead tr th span:hover {
  position: absolute;
  width: auto;
  opacity:1;
  overflow:initial;
  padding: 0 10px;
  margin: 0;
  background-color: var(--table-bg);
}
table.pvp td {
    cursor: pointer;
    opacity: 0.6;
}

table.pvp tr td.low-wr {
  background-color: var(--low-wr) !important;
}
table.pvp tr td.high-wr {
  background-color: var(--high-wr) !important;
}
table.pvp tr td.transparent {
  opacity: 0.4;
}
table.pvp tr:hover td {
    opacity: 0.8;
}
table.pvp tr td:hover {
    opacity: 1 !important;
}

table .hero_portrait, .flextable .hero_portrait {
  height: 18px;
  display: inline-block;
  vertical-align: sub;
  margin-bottom: 3px;
}
table .hero_portrait.bigger, .flextable .hero_portrait.bigger {
  height: 2.5em;
}

.flextable {
  display: grid;
  border-collapse: collapse;
  grid-template-columns: minmax(150px, 1fr);
  align-items: center;
}
.flextable .header, .flextable .body {
  display: contents;
}
.flextable .header {
  display: contents;
}
.flextable .expandable {
  /* display: table-row-group; */
}

.flextable .line {
  /* display: table-row; */
  display: contents;
}
.flextable .line .block {
  display: contents;
  vertical-align: middle;
}
.flextable .line .block.sz-0 { width: 5%; min-width: 25px; }
.flextable .line .block.sz-1 { width: 10%; }
.flextable .line .block.sz-2 { width: 20%; }
.flextable .line .block.sz-3 { width: 30%; }
.flextable .line .block.sz-4 { width: 40%; }
.flextable .line .block.sz-5 { width: 50%; }

.flextable .expandable .line.main {
  transform: none !important;
}
.flextable .expandable .line.secondary .block, table .secondary td {
  animation: collapseAnimationRow 250ms ease;
  display: table-cell;
}
.flextable .expandable .line.secondary, table .secondary {
  /* animation: collapseAnimationRow 150ms ease; */
  height: auto;
  transition: all 80ms ease;
  opacity: 0.6 !important;
  overflow: hidden;
}
.flextable .expandable.closed .line.secondary .block, table .secondary.collapsed td {
  overflow: hidden;
  transform-origin: top;
  display: none;
}
.flextable .expandable.closed .line.secondary, table .secondary.collapsed {
  height: 0px;
}
.flextable .expandable .line {
}

.flextable .expandable .expand:before, table .expandable .expand:before {
  content: '▼';
}
.flextable .expandable .expand, table .expandable .expand {
  display: inline-block;
  font-size: 1.2em;
  padding: .2em .5em;
  margin-top: -0.2em;
  background-color: var(--table-thead-bg);
  transition: all 350ms linear;
  transform: rotate(180deg);
  opacity: 1;
}
.flextable .expandable.closed .expand, table .expandable.closed .expand {
  opacity: 0.5;
  transform: rotate(0);
}
.flextable .expandable.closed .expand:hover, table .expandable.closed .expand:hover {
  filter: brightness(1.5);
}

.matchlist {
  display: table-row;
}


.content-cards .match-card, .content-cards .player-card {
  padding: 30px 0;
  border-bottom: 1px solid var(--content-header);
}
.content-cards .match-card:last-child, .content-cards .player-card:last-child {
  border: none;
}

.unique-heroes-card {
  text-align: left;
}
.unique-heroes-card .line img, .hero_icon {
  vertical-align: middle;
  margin: 0 2px;
}
.unique-heroes-card .roleicon {
  height: 30px;
  width: auto;
}
.unique-heroes-card .line {
  margin: 7px;
  line-height: 32px;
  font-size: 20px;
  flex-basis: 100%;
}
.unique-heroes-card .line .caption {
  font-size: inherit;
  font-weight: bold;
}
.unique-heroes-card .role-heroes, .unique-heroes-card .heroes-icons-wrapper{
  line-height: 32px;
  font-size: 26px;
  opacity: .8;
  background-color: rgba(0,0,0,0.15);
  color: var(--content-header);
  border-radius: 5px;
  padding: 2px;
  margin: 0 2px;
}
.unique-heroes-card .role-heroes:hover, .unique-heroes-card .heroes-icons-wrapper:hover {
  opacity: 1;
}

.match-card, .player-card, .team-card {
  overflow: hidden;
  padding-bottom: 20px;
  max-height: 500px;
  transition: all 300ms ease;
}
.match-card {
  max-width: 1550px;
}
.team-card {
  max-height: 300px;
  transition: all 300ms ease;
  margin-bottom: 20px;
  flex-basis: 100%;
}
.team-card:hover {
  max-height: 4000px;
  /* TODO any better ideas? */
}
.team-card.full {
  max-height: none;
}
.player-card {
  flex-basis: 100%;
  max-width: 1200px;
}
.player-card.full {
  max-height: none;
}
.match-card.full {
  max-height: none;
}
.match-card *, .player-card *, .team-card * {
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
}

.match-id {
  font-size: 24px;
  /* text-transform: uppercase; */
  letter-spacing: 4px;
  text-align: left;
  font-weight: bold;
  color: var(--link);
}
.match-id a {
  font-size: inherit;
  line-height: inherit;
}
.match-team.radiant {
  float:left;
}
.match-team.dire {
  float:left;
}
.match-team {
  width: 38%;
  margin: 10px 1% 0;
  font-size: inherit;
  line-height: inherit;
}
.match-team .match-players {
  position: relative;
}
.match-team .match-players .match-player {
  font-size: 14px;
  color: #fff;
  width: 20%;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.match-team .match-heroes .match-hero {
  width: 20%;
  display: inline-block;
  position: relative;
}
.match-team .match-heroes .match-hero img {
  width: 90%;
  margin:5% 0 ;
}

.match-team .match-heroes-bans {
  filter: grayscale(100%);
  opacity: .75;
  margin: 0 1%;
}
.match-team .match-heroes-bans.radiant {
  text-align: left;
}
.match-team .match-heroes-bans.dire {
  text-align: right;
}
.match-team .match-heroes-bans .match-hero {
  width: 13%;
  display: inline-block;
  position: relative;
}
.match-team .match-heroes-bans .match-hero img {
  width: 86%;
  margin: 7% 0;
}

.match-hero[data-order]:after {
  content: attr(data-order);
  width: 20%;
  text-align: center;
  font-size: 1.1em;
  position: absolute;
  color: white;
  top: 11%;
  transition: opacity 200ms ease;
  opacity: .65;
}
.match-hero[data-order]:hover:after {
  opacity: 1;
}
.match-team.dire .match-hero[data-order]:after {
  right: 5.5%;
}
.match-team.radiant .match-hero[data-order]:after {
  left: 5.5%;
}
.match-heroes-bans .match-hero[data-order]:after {
  font-size: 0.75em;
  width: 10%;
  top: 12.5%;
}

.match-hero[data-order]:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  opacity: .75;
  transition: opacity 300ms ease;
}
.match-hero[data-order]:hover:before {
  opacity: 1;
}
.match-team.dire .match-hero[data-order]:before {
  border-width: 0 3.4em 3.4em 0;
  border-color: transparent black transparent transparent;
  right: 4.9%;
  top: 7%;
}
.match-team.radiant .match-hero[data-order]:before {
  border-width: 0 0 3.4em 3.4em;
  border-color: transparent transparent transparent black;
  left: 4.9%;
  top: 7%;
}
.match-team.dire .match-heroes-bans .match-hero[data-order]:before {
  border-width: 0 2.25em 2.25em 0;
  right: 0;
  top: 7%;
}
.match-team.radiant .match-heroes-bans .match-hero[data-order]:before {
  border-width: 0 0 2.25em 2.25em;
  left: 0;
  top: 7%;
}

.match-team-name {
  text-align: center;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: -1px;
  height: 36px;
  overflow: hidden;
}
.match-team-name.winner {
  text-decoration: underline;
}
.match-team-nw {
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  opacity: 0.8;
}
.match-add-info {
  float: right;
  width: 20%;
  padding-top: 10px;
  margin-top: 36px;
}
.match-info-line {
  font-size: 16px;
  line-height: 20px;
}
.match-info-line .caption {
  font-weight: bold;
  font-size: inherit;
}
.match-team-score {
  font-size: 18px;
  line-height: 36px;
}
.radiant .match-team-score {
  float: right;
}
.dire .match-team-score {
  float: left;
}

.match-records-container {
  clear: both;
  font-size: 1.3em;
  text-align: left;
  width: 97%;
  margin: 0 auto;
}
.match-records-header {
  font-size: 20px;
  letter-spacing: 2px;
  text-align: left;
  font-weight: bold;
  color: var(--link);
  line-height: 1.5em;
}
.match-records-subheader {
  font-size: 14px;
  text-align: left;
  line-height: 1.25em;
  margin-bottom: .5em;
}
.match-record-element {
  line-height: 1.5em;
  flex-basis: 50%;
}
.match-record-element label {
  font-weight: bold;
}
.match-record-element .hero_icon {
  height: 1.4em;
}
.match-records-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.player-name {
  font-size: 28px;
  text-align: left;
  font-weight: bold;
  color: var(--caption);
  margin-bottom: 10px;
  background-color: var(--name-bg);
  padding: 5px;
}
.player-name a {
  font-size: inherit;
  line-height: inherit;
}
.player-team {
  font-size: 22px;
  text-align: left;
  color: var(--caption);
  margin-bottom: 15px;
  background-color: var(--subname-bg);
  padding: 5px;
}

.player-heroes, .player-positions {
  float: right;
  width: 26%;
  text-align: left;
  margin: 0 2%;
}
.player-add-info {
  float: left;
  width: 26%;
  text-align: left;
  margin-left: 2%;
  margin-top:11px;
}
.player-heroes .hero_portrait {
  height: 18px;
  display: inline-block;
  vertical-align: sub;
}

.section-caption {
  font-size: 22px;
  text-align: left;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: var(--link);
}

.player-info-line {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 10px;
}
.player-info-line .caption {
  font-weight: bold;
  font-size: inherit;
}

.section-lines .player-info-line:first-of-type {
  font-size: 20px;
  font-weight: bold;
}

.team-name {
  font-size: 28px;
  text-align: left;
  font-weight: bold;
  color: var(--caption);
  margin-bottom: 10px;
  background-color: var(--name-bg);
  padding: 5px;
}
.team-name .hero_portrait {
  height: 28px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  margin-bottom: 4px;
  margin-left: 7px;
}
.team-name a {
  font-size: inherit;
  line-height: inherit;
}
.team-info-block .hero_portrait, .team-info-block .hero_icon {
  height: 18px;
  display: inline-block;
  vertical-align: sub;
}

.team-info-line {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 10px;
}
.team-info-line .caption {
  font-weight: bold;
  font-size: inherit;
}
.team-info-block {
  float: left;
  width: 21%;
  text-align: left;
  margin: 0 1%;
  margin-top:11px;
}
.team-card .team-info-block:nth-child(2) {
  width: 13%;
}
.team-card .team-info-block:last-child {
  width: 37%;
}

.graph {
  width: 80%;
  min-height: 1200px;
  height: 90vmin;
  margin: 0 auto;
}

.hero {
  display: inline-block;
  position: relative;
  opacity:0.8;
  font-size: 0;
}
.hero:hover {
  opacity: 1;
}
.hero .hero_name {
  display: block;
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 14px;
}
.small-heroes .hero img {
  height: 54px;
  width: 96px;
}
.small-heroes .hero .hero_name {
  font-size: 11px;
}

.content-text .hero-list {
  line-height: 0px;
}
.filter-toggles {
  text-align: left;
  font-size: 16px;
  line-height: 34px;
  color: var(--text);
  margin: 30px auto 0;
  width: 82%;
  display: flex;
}
.filter-toggles.wide {
  width: 98%;
}
.filter-toggles label {
  font-size: 1em;
  line-height: inherit;
  background: var(--tagslist-bg);
  padding: 0 .9em;
  margin-right: 1em;
  cursor: pointer;
  border-radius: 5px;
  transition: .25s all linear;
  user-select: none;
}
/* .filter-toggles label:before {
  content: '⛛';
  transform: scale(0.6);
  display: inline-block;
  margin-right: .4em;
} */

.filter-toggles input[type=checkbox] {
  display:none;
}

.filter-toggles input[type=checkbox]:checked + label {
  background: var(--tagslist-active);
  color: var(--caption);
}
.filter-toggle-hidden {
  display: none !important;
}

.filter-toggles + .table-column-toggles, .filter-toggles + .table-header-info {
  margin-top: 15px;
}

.table-column-toggles, .table-header-info, .compact-section-header {
  text-align: left;
  font-size: 16px;
  line-height: 2em;
  color: var(--text);
  margin: 30px auto 0;
  width: calc(82% - 0.9em * 2);
  display: flex;
  background: var(--tagslist-bg);
  border-radius: 5px;
  padding: .2em .9em;
}
.table-column-toggles.wide, .table-header-info.wide, .compact-section-header {
  width: calc(98% - 0.9em * 2);
}
.table-column-toggles.spaced, .table-header-info.spaced, .compact-section-header.spaced {
  justify-content: space-between;
}
.table-column-toggles.compact, .table-header-info.compact, .compact-section-header.compact {
  font-size: 14px;
}
/* .table-column-toggles:before {
  content: '▥';
  font-size: 1.5em;
  opacity: .6;
} */
.table-column-toggles-name, .table-header-info-name, .compact-section-header span, .compact-section-header a, .table-header-info a {
  font-size: 1.2em;
  line-height: 1.7em;
  color: var(--caption);
  margin-right: .5em;
}
.compact-section-header.primary span, .compact-section-header.primary a {
  font-size: 1.6em;
  line-height: 1.5em;
}
.table-column-toggle-button {
  background-color: var(--table-thead-bg);
  color: inherit;
  font-size: inherit;
  margin: .2em .5em;
  padding: 0.3em 0.9em 0;
  line-height: 1.2em;
  border-radius: 5px;
  border: none;
  transition: .25s all linear;
  user-select: none;
}
.table-column-toggle-button:before {
  content: '-';
  display: inline-block;
  width: 1em;
  text-align: center;
}
.table-column-toggles input[type=checkbox] {
  display:none;
}
.table-column-toggles input[type=checkbox]:checked + .table-column-toggle-button {
  color: var(--caption);
  filter: contrast(1.3);
}
.table-column-toggles input[type=checkbox]:checked + .table-column-toggle-button:before {
  content: '✔';
}
.table-header-info > .right {
  float: right;
  margin-right: 0;
}

.chart-pie {
  width: 40%;
  margin: 0%;
  height: auto;
  display: inline-block;
}


.content-text.overview:first-of-type {
    margin-top: 30px;
}
.content-text.overview {
    margin: 0;
    padding: 30px 10% 30px 10%;
    line-height: 28px;
    font-size: 18px;
    color: var(--content-text-overview);
    background-position: right center;
    background-size: auto;
    background-repeat: no-repeat;
}
.content-text.overview .content-header {
    /* margin: 0; */
    margin-bottom: 30px;
}
.content-text.overview.overview-head {
    /* background-image: url('555.png'); */
    background-size: cover;
}


.content-text.overview.overview-head .block-content {
    font-size: inherit;
    line-height: inherit;
    margin-bottom: 10px;
}
.content-text.overview.overview-head .block-content:last-of-type {
    margin: 0;
}
.content-text.overview.overview-head .block-content.separated {
  border-top: 1px solid var(--content-header);
  padding-top: 10px;
}
.content-text.overview.overview-graphs {
    padding: 30px 15% 30px 15%;
    text-align: center;
}
.left-placing {
    text-align: left;
}

.tagslist, .list-pinned {
  margin-left: 5%;
  margin-right: 5%;
  line-height: 34px;
  padding: 10px 0;
}
.tagslist.hidden {
  display: none;
}

.tagslist .category, .tagsshow .category, .list-pinned .category {
  display: inline-block;
  background-color: var(--tagslist-bg);
  width: 280px;
  font-size: 18px;
  text-align: center;
  padding: 8px 0;
  font-family: 'Radiance-SemiBold';
  /* text-shadow: 2px 2px 6px var(--text-shadow); */
  margin: 10px;
  transition: 200ms all ease;
  opacity: .8;
}
.tagslist .category:hover, .tagsshow .category:hover, .list-pinned .category:hover {
  background-color: var(--tagslist-bg-hover);
  text-decoration: none;
  opacity: 1;
}
.tagslist .category.active, .list-pinned .category.active {
  background-color: var(--tagslist-active);
  opacity: 1;
}
.list-pinned .category, .tagsshow .category {
  width: 330px;
  padding: 8px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.list-pinned .category .category-icon, .tagsshow .category .category-icon {
  margin-right: .5em;
  height: 1.2em;
  width: auto;
  margin-bottom: -.25em;
  font-size: inherit;
}

.friends-list {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: .4;
  transition: 300ms opacity linear;
  margin-top: 10px;
  line-height: 1em;
  flex-wrap: wrap;
}
.friends-list:hover {
  opacity: 1;
}
.friends-list h1 {
  display: inline-block;
  margin: .7em 0;
  font-size: 1.2em;
  width: 200px;
}
.friends-list .category {
  width: 175px;
  font-size: 14px;
  text-align: center;
  padding: 8px 5px;
  margin: 5px;
}

.searchform {
  text-align: center;

	font-size: 24px;
	line-height: 2em;
	color: var(--text);
  clear: both;
  margin: 0 10%;

	padding: 25px 5% 25px;
}
.searchform input {
  font-size: 20px;
  padding: 3px;
}
.searchform input[type=text] {
  display: block;
  text-align: center;
  width: 95%;
  margin: 15px auto;
  line-height: 1.75em;
  background-color: var(--selectors-bg);
  color: var(--selector-link);
  border-color: var(--content-header);
  border-style: solid;
  border-radius: 5px;
  opacity: .8;
  transition: 150ms all linear;
}
.searchform input[type=text]:hover, .searchform input[type=text]:focus {
  opacity: 1;
}
.searchform input[type=text]:focus {
  box-shadow: 0 0 10px var(--table-text);
}
.searchform input[type=submit] {
  display: block;
  text-align: center;
  margin: 15px auto;
  padding: 3px 18px;
  line-height: 1.3em;
  background-color: var(--content-header);
  color: var(--selector-link);
  border-color: var(--selectors-bg);
  border-style: solid;
  border-radius: 5px;
  opacity: .7;
  transition: 150ms opacity linear;
}
.searchform input[type=submit]:hover {
  opacity: 1;
}

table:target {
  box-shadow: 0 0 10px var(--table-text);
}

/* other stuff */

.support-me-block, .support-me-block-secondary, .ads-block-report, .partners-list {
  position: absolute;
  top: 75px;
  /* height: 50px; */
  z-index: 20;
  border-radius: 5px;
  opacity: 0.8;
  transition: 300ms all linear;
  color: #fff;
}
.support-me-block {
  right: 20px;
  /* min-width: 250px; */
  background-color: rgba(0,0,0,0.5);
  padding: 9px;
  font-size: 22px;
  line-height: 1.75em;
  text-align: right;
}
.support-me-block-secondary {
  background-color: rgba(132, 0, 255, 0.4);
  padding: 9px;
  left: 20px;
  font-size: 22px;
  line-height: 1.75em;
  text-align: left;
}
.support-me-block.early-access {
  background-color: rgba(255,0,0,0.4);
}
.ads-block-report, .partners-list {
  background-color: rgba(50,50,50,.7);
  padding: 3px;
  width: 30%;
  left: calc(35% - 9px);
  font-size: 22px;
  line-height: 1.75em;
  text-align: left;
  text-align: center;
  opacity: .6;
}
.support-me-block:hover, .support-me-block-secondary:hover, .ads-block-report:hover, .partners-list:hover {
  opacity: 1;
}
.support-me-block img, .support-me-block-secondary img, .ads-block-report img, .partners-list img {
  display: inline-block;
  vertical-align: bottom;
  height: 2.75em;
  width: auto;
  margin-bottom: .3em;
}

.ads-block-main {
  text-align: center;
  max-height: 100px;
}

.partners-list {
  bottom: 10px;
  top: auto;
  font-size: 18px;
}
.partners-list.special-logo {
  left: 20px;
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.partners-list a img {
  font-size: inherit;
  height: 1.25em;
}

table.list {
  position: relative;
}

table.list thead {
  position: sticky;
  top: 0;
  z-index: 999;
}

.tablesorter-header {
  position: relative;
}

.tablesorter-headerDesc::after {
  content: '';
  border-left: .4em solid transparent;
  border-right: .4em solid transparent;
  border-top: .5em solid var(--table-text);
  position: absolute;
  right: 5%;
  top: calc(50% - .25em);
  opacity: .6;
}

.tablesorter-headerAsc::after {
  content: '';
  border-left: .4em solid transparent;
  border-right: .4em solid transparent;
  border-bottom: .5em solid var(--table-text);
  position: absolute;
  right: 5%;
  top: calc(50% - .25em);
  opacity: .6;
}


.profile-header {
	text-align: center;

	font-size: 18px;
	line-height: 34px;
	color: var(--text);
  clear: both;

	margin: 30px 10% 0;
  overflow: hidden;
}
.profile-header .profile-image {
  float: left;
  width: 256px;
}
.profile-header.bigger-image .profile-image {
  width: 384px;
}
.profile-header .profile-image img {
  width: 256px;
  height: auto;
}
.profile-header.bigger-image .profile-image img {
  width: 384px;
}
.profile-header .profile-name {
  color: var(--content-text-overview);
  font-size: 34px;
  line-height: 2.5em;
  margin-top: 14px;
  text-align: left;
  margin-left: 286px;
}
.profile-header.bigger-image .profile-name {
  margin-left: 412px;
}
.profile-name.subheader {
  font-size: 1em;
  line-height: 1.1em;
  margin-bottom: 20px;
  margin-top: -24px;
  opacity: .6;
}
.profile-header .profile-content {
  text-align: left;
  margin-left: 286px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.profile-header.bigger-image .profile-content {
  margin-left: 412px;
}
.profile-header .profile-stats {
  width: 31%;
}
.profile-header .profile-stats * {
  font-size: 20px;
  line-height: 1.5em;
}
.profile-statline label {
  color: var(--content-text-overview);
  font-weight: bold;
}
.profile-stats-header {
  color: var(--content-text-overview);
  font-size: 20px;
  line-height: 1.5em;
  font-weight: bold;
}
.profile-links img {
  height: 2em;
  width: auto;
}

.matchlink {
  font-size: inherit;
}
.matchlink img {
  font-size: inherit;
  height: .9em;
  vertical-align: middle;
  margin-top: -.2em;
}

/* item builds */

.hero-build {
  text-align: center;
  font-size: 18px;
  line-height: 34px;
  color: var(--text);
  clear: both;
  margin: 30px 10% 0;
  max-height: 999999px;
}

.hero-build-overview-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}

.hero-build.starting-items-builds {
  text-align: left;
}

.hero-build-overview-container .header {
  margin: 24px 0;
  border-radius: 10px;
  font-size: 18px;
  padding: 8px;
  max-width: 90%;

  text-transform: uppercase;
  letter-spacing: 4px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: bold;
  color: var(--selector-link);

  background-color: var(--selectors-bg);

  flex: 1;
  flex-basis: 100%;
}

.build-overview-container {
  margin: 0 16px 24px;
  align-content: flex-start;
}
.build-overview-container.main-build-early, .build-overview-container.main-build-core, .build-overview-container.main-build-lategame {
  width: 500px;
  flex-grow: 1;
}
.build-overview-container {
  width: 850px;
  flex-grow: 2;
}
.build-overview-container.main-build-alts, .build-overview-container.main-build-neutrals, .build-overview-container.main-build-swaps {
  overflow: hidden;
  flex-basis: 100%;
}
.hero-build .flexbreak {
  flex-basis: 100%;
}

.items-list {
  display: flex;
  align-items: flex-start;
}
.items-list.items-swaps {
  display: inline-flex;
  margin: 0 28px;
}

.build-overview-container .container-content {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  margin: 0 auto;
  max-width: 86%;
}
.build-overview-container .container-content .items-list {
  min-width: 700px;
  width: 45%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.build-overview-container .container-content .items-list.items-list-inner {
  width: auto;
  min-width: auto;
  flex: 1;
}

@media only screen and (min-width:2385px) {
  .build-overview-container .container-content {
    justify-content: space-between;
  }
}
@media only screen and (max-width:2385px) {
  .build-overview-container .container-content .items-list {
    width: auto;
    min-width: max(50%, 900px);
  }
}


.build-item-component {
  display: inline-block;
  flex-direction: column;
  margin: 5px 5px 10px 5px !important;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.2);
  text-align: center;
}

.build-item-component .item-image {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 86px;
  height: 62px;
  /* width: 5vw;
  height: 3.6vw; */
  margin-bottom: 5px;
  opacity: .85;

  border-radius: 5px;
  border: 2px solid var(--selectors-bg);
  overflow: hidden;
  transition: 250ms all linear;
  position: relative;
}
.build-item-component .item-image:hover, .build-item-component .item-text:hover {
  opacity: 1;
  box-shadow: 0 0 10px var(--selectors-bg);
}

.build-item-component.common .item-image, .build-item-component.common .item-text {
  border-color: var(--content-header);
}
.build-item-component.common .item-image:hover, .build-item-component.common .item-text:hover {
  box-shadow: 0 0 10px var(--content-header);
}

.build-item-component.strong .item-image, .build-item-component.strong .item-text {
  border-color: var(--high-wr-bright);
}
.build-item-component.strong .item-image:hover, .build-item-component.strong .item-text:hover {
  box-shadow: 0 0 10px var(--high-wr-bright);
}

.build-item-component.critical .item-image, .build-item-component.critical .item-text {
  border-color: var(--low-wr-bright);
}
.build-item-component.critical .item-image:hover, .build-item-component.critical .item-text:hover {
  box-shadow: 0 0 10px var(--low-wr-bright);
}

.build-item-component .item-image img {
  min-width: 100%;
}

.build-item-component .item-text {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 86px;
  height: 62px;
  margin-bottom: 5px;

  border-radius: 5px;
  border: 2px solid var(--selectors-bg);
  overflow: hidden;
  transition: 250ms all linear;
  position: relative;

  background-color: var(--content-header);
  color: var(--caption);
  font-size: 36px;
  letter-spacing: .1em;
  font-weight: bold;
  text-decoration: none;
}
.build-item-component .item-text.smaller {
  font-size: 24px;
}
.build-overview-container.small .build-item-component .item-text.smaller {
  font-size: 18px;
}
.build-item-component.tbc .item-text {
  background-color: var(--table-bg);
  opacity: .5;
}
.build-item-component.tbc .item-text:hover {
  opacity: 1;
}

.build-overview-container.small {
  margin-bottom: 0;
}
.build-overview-container.small .item-text, .build-overview-container.small .item-image {
  width: 66px;
  height: 46px;
}
.build-overview-container.small .build-item-arrow:after {
  width: 24px;
  height: 50px;
  font-size: 14px;
}
.build-overview-container.small .build-item-component .item-stat-tooltip-line, 
.build-overview-container.small .build-item-component .item-stat-tooltip {
  font-size: 10px;
}

.build-overview-container.primary {
  flex-basis: 100%;
}

.build-item-component .item-stat-tooltip-line, .build-item-component .item-stat-tooltip  {
  color: var(--caption);
  font-size: 12px;
  line-height: 1.4em;
  /* background-color: rgba(0,0,0,0.2); */
  text-decoration: none;
}
.build-item-component .item-stat-tooltip-line {
  display: block;
  opacity: 0.8;
  transition: 250ms all linear;
}

.build-item-component .item-stat-tooltip-line:nth-child(3) {
  opacity: 0.6;
}
.build-item-component .item-stat-tooltip-line:nth-child(4) {
  opacity: 0.4;
}

.build-item-component .item-stat-tooltip-line:hover {
  opacity: 1;
  background-color: rgba(0,0,0,1);
}

.build-item-component .item-image .item-prate {
  position: absolute;
  background-color: rgba(0,0,0,0.9);
  color: #fff;
  opacity: 0.8;
  right: 0;
  bottom: 0;
  font-size: 11px;
  padding: 3px 3px 2px 5px;
  border-top-left-radius: 5px;
  line-height: inherit;
}

/* this abomination should help with making shadows unter the text bright enough */

.build-item-component.winrate-strong .item-winrate-increase {
  text-shadow: 0 0 10px var(--high-wr-bright), 0 0 7px var(--high-wr-bright), 0 0 5px var(--high-wr-bright), 0 0 5px var(--high-wr-bright), 0 0 5px var(--high-wr-bright),
               0 0 10px var(--high-wr-bright), 0 0 7px var(--high-wr-bright), 0 0 5px var(--high-wr-bright), 0 0 5px var(--high-wr-bright), 0 0 5px var(--high-wr-bright),
               0 0 5px var(--high-wr-bright), 0 0 5px var(--high-wr-bright), 0 0 5px var(--high-wr-bright);
}
.build-item-component.winrate-weak .item-winrate-increase {
  text-shadow: 0 0 10px var(--low-wr-bright), 0 0 7px var(--low-wr-bright), 0 0 5px var(--low-wr-bright), 0 0 5px var(--low-wr-bright), 0 0 5px var(--low-wr-bright),
               0 0 10px var(--low-wr-bright), 0 0 7px var(--low-wr-bright), 0 0 5px var(--low-wr-bright), 0 0 5px var(--low-wr-bright), 0 0 5px var(--low-wr-bright),
               0 0 5px var(--low-wr-bright), 0 0 5px var(--low-wr-bright), 0 0 5px var(--low-wr-bright);
}

.build-item-arrow {
  display: inline-flex;
  flex-direction: column;
  margin: 5px !important;
  border-radius: 5px;
}
.build-item-arrow:after {
  content: '';
  background-color: var(--content-header);
  width: 32px;
  height: 66px;
  border-radius: 5px;
  color: var(--caption);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  opacity: .8;
}
.build-item-arrow-right:after {
  content: '▶';
}
.build-item-arrow-left:after {
  content: '◀';
}
.build-item-arrow-swap:after {
  content: '⮀';
}

.build-timeline-order .build-item-component {
  opacity: 0.7;
  transition: 250ms all linear;
}
.build-timeline-order .build-item-component:hover, .build-timeline-order .build-item-component.big {
  opacity: 1;
}

.build-item-component.big {
  display: inline-flex;
  flex-basis: 100%;
  flex-direction: row;
  align-items: center;
  margin: 0 0 5px 0 !important;
  flex-wrap: wrap;
  justify-content: center;
}
.build-item-component.big .labels {
  min-width: 80px;
  flex: 1;
}
.build-item-component.big .item-image .item-prate {
  font-size: 12px;
  padding: 3px 7px;
  border-radius: 7px;
  right: 8px;
  bottom: 8px;
}
.build-item-component.big .item-image, .build-item-component.big .item-text {
  width: 100px;
  height: 100px;
  margin: 0;
  /* transform: scale(1.1); */
  overflow:visible;
  border: none;
}
.build-item-component.big .item-image img {
  min-width: 110%;
}
.build-item-component.big .item-image:hover, .build-item-component.big .item-text:hover {
  filter: drop-shadow(0 0 5px var(--selector-bg));
  box-shadow: none;
}
.build-item-component.big .item-stat-tooltip-line, .build-item-component.big .item-stat-tooltip {
  color: var(--caption);
  font-size: 14px;
  line-height: 1.4em;
  text-decoration: none;
}
.build-item-component.common.big .item-image, .build-item-component.common.big .item-text {
  border: none;
  filter: drop-shadow(0 0 5px var(--content-header));
}
.build-item-component.common.big .item-image:hover, .build-item-component.common.big .item-text:hover {
  filter: drop-shadow(0 0 10px var(--content-header));
  box-shadow: none;
}

.build-item-component.strong.big .item-image, .build-item-component.strong.big .item-text {
  border: none;
  filter: drop-shadow(0 0 5px var(--high-wr-bright));
}
.build-item-component.strong.big .item-image:hover, .build-item-component.strong.big .item-text:hover {
  filter: drop-shadow(0 0 15px var(--high-wr-bright));
  box-shadow: none;
}

.build-item-component.critical.big .item-image, .build-item-component.critical.big .item-text {
  border: none;
  filter: drop-shadow(0 0 5px var(--low-wr-bright));
}
.build-item-component.critical.big .item-image:hover, .build-item-component.critical.big .item-text:hover {
  filter: drop-shadow(0 0 15px var(--low-wr-bright));
  box-shadow: none;
}

.build-item-component.small, .build-item-component.smallest {
  display: inline-flex;
  flex-basis: 100%;
  flex-direction: row;
  align-items: center;
  margin: 0 0 2px 0 !important;
  flex-wrap: nowrap;
  justify-content: center;
  overflow: hidden;
  opacity: 0.5;
  transition: 250ms all linear;
}
.build-item-component.smallest:hover, .build-item-component.small:hover {
  opacity: 1;
}
.build-item-component.smallest .item-image img, .build-item-component.small .item-image img {
  min-width: auto;
  height: 100%;
  width: auto;
}
.build-item-component.smallest .labels, .build-item-component.small .labels {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.build-item-component.smallest .labels > * {
  min-width: 50px;
  flex: 1;
}
.build-item-component.smallest .labels > *:first-child {
  flex-basis: 100%;
}
.build-item-component.small .labels > * {
  min-width: 70px;
  flex: 1;
}
.build-item-component.smallest .item-image .item-prate, .build-item-component.small .item-image .item-prate {
  font-size: 9px;
  width: 100%;
  text-align: center;
  border-radius: 0;
  padding: 2px 0;
}
.build-item-component.small .item-image .item-prate {
  font-size: 10px;
}
.build-item-component.smallest .item-image, .build-item-component.smallest .item-text {
  width: auto;
  max-height: 42px;
  margin: 0;
  min-width: 32px;
  margin: 0;
  border-width: 1px;
}
.build-item-component.smallest .item-stat-tooltip-line, .build-item-component.smallest .item-stat-tooltip {
  font-size: 10px;
}

.build-item-component.small .item-image, .build-item-component.small .item-text {
  width: auto;
  max-height: 42px;
  margin: 0;
  min-width: 32px;
  margin: 0;
  border-width: 2px;
}

.hero-build-timeline-container {
  display: flex;
}

/* timeline types */

.hero-build-timeline-container .early {
  background-color: rgba(127,127,127,0.15);
  opacity: 0.7;
  transition: 250ms all linear;
  max-width: 100px;
}
.hero-build-timeline-container .early.important, .hero-build-timeline-container .situationals.wide {
  /* background-color: var(--low-wr); */
  min-width: 200px;
  max-width: 200px;
}
.hero-build-timeline-container .early.important {
  opacity: 1;
}
.hero-build-timeline-container .main {
  background-color: rgba(255,255,255,0.125);
  min-width: 200px;
}
.hero-build-timeline-container .situationals {
  opacity: .5;
  transition: 250ms all linear;
  max-width: 100px;
}
.hero-build-timeline-container .situationals:hover, .hero-build-timeline-container .early:hover {
  opacity: 1;
}

.build-timeline-order {
  display: flex;
  max-width: 200px;
  min-width: 100px;
  padding: 5px;
  margin: 0 2px;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: center;
}
.build-timeline-alts {
  flex: 1;
  margin-bottom: 3px;
}

.build-timeline-header {
  margin: 5px 0;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  overflow: hidden;
  font-weight: bold;
  text-transform: uppercase;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  background-color: var(--selectors-bg);
  color: var(--selector-link);
  flex: 1;
  flex-basis: 100%;
}
.build-timeline-alts-header {
  background-color: var(--content-header);
  color: var(--caption);
  opacity: .75;
}

.hero-build-timeline-container {
  overflow-x: scroll;
  /* justify-content: center; */
}
.hero-build-timeline-container::-webkit-scrollbar {
  background-color: transparent;
}
.hero-build-timeline-container::-webkit-scrollbar-thumb {
  background-color: var(--content-header);
  margin: 2px;
  border-radius: 5px;
}

.build-blocks-container .header {
  width: 50%;
}

.build-blocks-container {
  flex-basis: 100%;
}

/* explainer */

.content-text.explainer {
  text-align: center;
  background-color: transparent;
  border-radius: 5px;
  transition: .25s all linear;
}
.content-text.explainer[open] {
  background-color: var(--selectors-bg);
}

.content-text.explainer summary {
  padding: 5px;
  font-size: inherit;
  display: inline-block;
  background: var(--content-header);
  color: var(--caption);
  padding-left: 2.2em;
  padding-right: 1.2em;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  min-width: 30%;
}

.content-text.explainer summary:before {
  content: '';
  border-width: .4rem;
  border-style: solid;
  border-color: transparent transparent transparent var(--caption);
  position: absolute;
  top: 0.65em;
  left: 1em;
  transform: rotate(0);
  transform-origin: .2rem 50%;
  transition: .25s transform ease;
}

.content-text.explainer[open] > summary:before {
  transform: rotate(90deg);
}

.content-text.explainer summary::-webkit-details-marker {
  display:none;
}

.content-text.explainer .explain-content {
  font-size: inherit;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: var(--nav-item);
  padding: 15px 35px;
  text-align: left;
}
.content-text.explainer .explain-content .line {
  font-size: 1.2em;
  line-height: 1.8em;
  padding-bottom: 1.1em;
}
.content-text.explainer .explain-content .line > * {
  font-size: inherit;
}
.content-text.explainer .explain-content .line:last-child {
  padding-bottom: 0;
}

.content-text.explainer hr {
  margin: 1.6em;
}
.content-text.explainer .line.header {
  font-size: 1.4em;
  font-weight: bold;
}

.demo-blocks {
  display: flex;
  justify-content: space-evenly;
}
.demo-blocks .header, .demo-blocks .description {
  text-align: center;
  display: flex;
  height: 4em;
  font-size: .9em;
  align-items: center;
  justify-content: center;
}
.demo-blocks .description {
  font-size: .7em;
}
.explainer-demo-block {
  text-align: center;
  max-width: 19%;
}
.demo-blocks .build-item-component .item-image {
  margin: 5px auto;
}
.demo-blocks .build-item-component {
  padding: 3px 7px;
}

/* search filters */

.search-filter {
  display: block;
  font-size: 16px;
  line-height: 1.5em;
  padding: 5px 16px;
  width: calc(82% - 2px);
  margin: 30px auto -25px;
  background: var(--table-thead-bg);
  color: var(--table-thead-text);
  font-family: inherit;
  border: none;
}
.search-filter.wide {
  width: calc(98% - 2px);
}
.content-section > .search-filter.wide {
  width: calc(98% - 34px);
}
.search-filter.inside {
  width: calc(100% - 2px);
}
.search-filter-selector {
  font-size: 16px;
  line-height: 1.5em;
  padding: 5px 16px;
  width: 100%;
  margin: 0;
  background: var(--selectors-bg);
  color: var(--selector-link);
  font-family: inherit;
  border: none;
}
input[type=search]::-webkit-search-cancel-button {
  filter: brightness(5) drop-shadow(0 0 3px black);
} 

.filter-toggles + .search-filter, .table-column-toggles + .search-filter, .table-header-info + .search-filter {
  margin-top: 7px;
}

.filter-toggles + table.list, .table-column-toggles + table.list, .table-header-info + table.list{
  margin-top: 7px;
}

/* report cards */

.report-cards-container {
  width: 98%;
  margin: 10px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.card {
  background: var(--tagslist-bg);
  max-width: calc(20% - 10px);
  border-radius: 5px;
  margin: 5px !important;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--text);
  transition: 150ms linear;
  font-size: 14px;
  transition: 150ms linear;
  position: relative;
}
.card.smaller {
  font-size: 13px;
}
@media screen and (max-width: 2600px) {
  .card.smaller {
    width: calc(14.2857% - 10px);
    min-width: min(20.5em, calc(14.2857% - 10px));
  }
}
@media screen and (min-width: 2600px) {
  .card.smaller {
    width: calc(12.5% - 10px);
    min-width: min(20.5em, calc(12.5% - 10px));
  }
}

.card:hover {
  transform: translateY(-7px);
}

.card .image {
  display: block;
  position: relative;
}

img.event-logo-card {
  width: 100%;
  height: auto;
}

.card .content {
  padding: 0.75em;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
.card > .content:first-of-type {
  flex: 1;
}

.card .card-name.header {
  font-size: 1.283em;
  line-height: 1.5em;
  display: block;
  margin-bottom: 0.28em;
}

.card .meta {
  font-size: 1em;
  margin-bottom: 0.36em;
}

.card .meta, .card .extra.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  opacity: .7;
}
.card .meta *, .card .extra.content * {
  font-size: 1em;
  line-height: 1.5em;
}

.card .meta .dates {
  min-width: 12em;
}

.card .description {
  font-size: 1.1415em;
  line-height: 1.5em;
}

.card.see-more {
  background: transparent;
  flex-basis: 100%;
  max-width: initial;
}

.card.see-more .content {
  display: flex;
  align-items: flex-start;
}

.group-name img.inline-icon {
  height: 2.1em;
  margin-right: .3em;
  vertical-align: sub;
}

.card:hover .cat-label {
  opacity: .9;
}

.card .cat-label {
  position: absolute;
  right: -1.5em;
  top: 0.5em;
  font-size: 1.25em;
  padding: 0.2em 2em 0.2em 0.6em;
  z-index: 0;
  opacity: .6;
  transition: 150ms all linear;
}

.card .cat-label:before {
  content: '';
  border-right: 0 solid transparent;
  border-top: 0 solid transparent;
  border-bottom: 1.5em solid var(--content-bg);
  border-left: .5em solid transparent;
  width: 100%;
  position: absolute;
  top: 0.1em;
  left: -0.1em;
  z-index: -1;
}

.card.shady .image, tr.shady td.banner-row img {
  filter: saturate(0.25) brightness(0.75);
}
tr.shady td.banner-row {
  position: relative;
}

.card.shady .shady-notice, tr.shady td.banner-row .shady-notice {
  position: absolute;
  top: 7px;
  left: 5px;
  width: 36px;
  height: 36px;
  z-index: 10;
  background-image: url(warning.png);
  background-size: contain;
}
tr.shady td.banner-row .shady-notice {
  width: 28px;
  height: 28px;
}

.shady .league-banner, .shady .tournament-banner {
  filter: saturate(0.25) brightness(0.75);
}
.shady .partners-list {
  background-color: #330000;
  opacity: 0.8;
  width: 70%;
  left: 15%;
}

.match-link-modal {
  font-size: 1em;
  line-height: 2em;
  min-width: 550px;
  display: inline-block;
}
.team-focus {
  font-size: 1em;
  text-decoration: underline;
  text-underline-offset: .25em;
}
.team-focus.team-loser {
  text-shadow: 0 0 .5em var(--low-wr-bright), 0 0 .5em var(--low-wr-bright), 0 0 .5em var(--low-wr-bright), 0 0 .5em var(--low-wr-bright), 0 0 .5em var(--low-wr-bright);
}
.team-focus.team-winner {
  text-shadow: 0 0 .5em var(--high-wr-bright), 0 0 .5em var(--high-wr-bright), 0 0 .5em var(--high-wr-bright), 0 0 .5em var(--high-wr-bright), 0 0 .5em var(--high-wr-bright);
}