@font-face {
  font-family: 'Radiance';
  src:url("fonts/radiance.eot");
  src:url("fonts/radiance.eot?#iefix") format("embedded-opentype"),
    url("fonts/radiance.woff") format("woff"),url("fonts/radiance.ttf") format("truetype"),
    url("fonts/radiance.svg#ywftsvg") format("svg");
  font-weight:normal;
  font-style:normal
}
@font-face {
  font-family: 'Radiance-SemiBold';
  src:url("fonts/radiance-semibold.eot");
  src:url("fonts/radiance-semibold.eot?#iefix") format("embedded-opentype"),
    url("fonts/radiance-semibold.woff") format("woff"),
    url("fonts/radiance-semibold.ttf") format("truetype"),
    url("fonts/radiance-semibold.svg#ywftsvg") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: Radiance, Noto Sans, arial, helvetica, sans-serif;
  line-height: normal;
  font-size: 12px;
  padding: 0;
  margin: 0;
}

body {
  background-position: top center;
  background-repeat: no-repeat;
  background-color: var(--body-bg);
}

a, a:active, a:visited, a:focus {
	font-size: inherit;
  line-height: inherit;
	color: var(--link);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
	text-decoration: underline;
}

.section-header {
	margin: 0 auto;
	height: 438px;
	background-position: center;
	background-repeat: no-repeat;
  background-color: var(--section-header);
  position: relative;
}

#header-image {
  /* background-image: url('header.jpg'); */
  background-image: url('header_grafenium.jpg');
  background-size: cover;
}

#image-logo {
  height: 438px;
  background-position: center;
  background-repeat: no-repeat;
}

.section-header h1 {
	width: 100%;
	text-align: center;
	font-size: 48px;
	letter-spacing: 4px;
	text-transform: uppercase;
	color: var(--section-header-h1);
	padding-top: 158px;
	margin-bottom: 0px;
	font-family: 'Radiance-SemiBold';
  text-shadow: 2px 2px 10px #000000;
  position: relative;
  z-index: 10;
}

.section-header h2 {
  /* width: 100%; */
  width: 70%;
	text-align: center;
	font-size: 24px;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: var(--section-header-h2);
	margin: 4px auto 0 auto;
	font-family: 'Radiance-SemiBold';
  text-shadow: 0px 0px 6px var(--text-shadow), 0px 0px 6px var(--text-shadow), 0px 0px 6px var(--text-shadow);
  position: relative;
  z-index: 10;
}

.section-header h3 {
	width: 100%;
	text-align: center;
	font-size: 14px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: var(--section-header-h3);
	margin-top: 8px;
	font-family: 'Radiance-SemiBold';
  text-shadow: 0px 0px 3px var(--text-shadow), 0px 0px 3px var(--text-shadow), 0px 0px 3px var(--text-shadow);
  position: relative;
  z-index: 10;
}

.section-header .league-banner img {
  height: 100%;
  width: auto;
}
.section-header .league-banner {
  position: absolute;
  /* top: 60px;
  left: 60px;
  bottom: 60px; */
  left: 60px;
  top: 158px;
  bottom: 158px;
  z-index: 0;
  opacity: 0.75;
  /* height: 100%; */
  -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,1) 30%, rgba(0,0,0,0.5));
  mask-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,1) 30%, rgba(0,0,0,0.5));
}

.content-section {
	/*background-image: url('main_bg.jpg');*/
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 25px, rgba(0,0,0,0) 90%, #000 100%), linear-gradient(to left, #000 0%, #0e0e0e 25%, #131313 50%, #0e0e0e 75%, #000 100%);
	background-position: top center;
	background-repeat: no-repeat;
	margin-top: 0px;
	padding-top: 40px;
	background-color: var(--content-bg);
	padding-bottom: 40px;
  /* overflow: hidden;
  overflow-x: auto; */
}
.content-section div:first-child {
  margin-top: 0;
}
.content-section div:last-child {
  margin-bottom: 0;
}

.content-top {
  margin-bottom: 40px;
}

.content-section .content-header {
	background-color: var(--content-header);
	width: 600px;

	margin-left: auto;
	margin-right: auto;

	font-size: 22px;
	text-align: center;
	color: var(--caption);
	text-transform: uppercase;
	letter-spacing: 4px;
	padding: 17px 0;
	font-family: 'Radiance-SemiBold';

	text-shadow: 2px 2px 6px var(--text-shadow);
  margin-top: 30px;
}

.content-text {
	text-align: center;

	font-size: 18px;
	line-height: 34px;
	color: var(--text);
  clear: both;

	margin: 30px 20% 0;
}
.content-text span {
  font-size: 18px;
}
.content-text span.caption {
  font-weight: bold;
}
.content-text.small {
  font-size: 12px;
  line-height: 14px;
}

.content-text.alert {
  border-radius: 10px;
  color: var(--caption);
  background-color: rgba(255,0,0,0.1);
  padding: 3px 5px;
}

.content-cards {
	text-align: center;

	font-size: 18px;
	line-height: 34px;
	color: var(--text);


	margin: 30px 15% 0;

	margin-top: 30px;
}

.selector-modules {
	margin-left: auto;
	margin-right: auto;

	color: var(--content-header);
	font-family: 'Radiance-SemiBold';

	text-align: center;

  margin: 40px 5% 20px;

  font-size: 24px;
}
.selector-modules-sublevel {
	text-align: center;

  border-top: 1px solid var(--content-header);
  color: var(--content-header);

  padding-top: 20px;
	margin: 0 25% 20px;

  font-size: 20px;
}
.selector-modules-level-3 {
	text-align: center;

  border-top: 1px solid var(--content-header);
  color: var(--content-header);

  padding-top: 20px;
	margin: 0 25% 20px;

  font-size: 18px;
}
.selector-modules-level-4, .selector-modules-level-5, .selector-modules-level-6, .selector-modules-level-7 {
	text-align: center;

  border-top: 1px solid var(--content-header);
  color: var(--content-header);

  padding-top: 20px;
	margin: 0 25% 20px;

  font-size: 16px;
}
.selector {
  font-size: inherit;
	text-transform: uppercase;
	letter-spacing: 4px;

  margin: 5px 10px;
  padding-bottom: 5px;

	cursor: pointer;

	font-family: 'Radiance-SemiBold';

	color: var(--selector-link);
  display: inline-block;
  border-bottom: 3px solid #0000;
  transition: 150ms all linear;
}
.select-selectors {
  background: var(--selectors-bg);
  color: var(--selector-link);
  line-height: inherit;
  font-family: inherit;
  font-size: inherit;
  border: none;
  padding: 5px 20px;
}
.selector a {
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
}

.selector:hover {
	color: var(--selector-link);
  border-bottom: 3px solid var(--content-header);
}
.selector:hover a {
  text-decoration: none;
}

.custom-selector select {
  display: none;
}
.custom-selector {
  color: var(--selector-link);
  font-family: inherit;
  font-size: 1.05em;
  min-width: 300px;
  display: inline-block;
  position: relative;
}
.custom-selector .custom-selector-selected, .custom-selector .custom-selector-list, .custom-selector-option {
  font-size: inherit;
}
.custom-selector .custom-selector-selected, .custom-selector-option {
  padding: 5px 20px;
  text-align: left;
  transition: all 200ms linear;
  cursor: pointer;
  background-color: var(--tagslist-bg);
  color: var(--link);
}
.custom-selector .custom-selector-selected {
  background: var(--table-thead-bg);
  color: var(--table-thead-text);
  text-align: center;
  transition: all 200ms linear;
}
.custom-selector-option.as-selected {
  background: var(--tagslist-active);
  color: var(--link);
}
.custom-selector-option:hover, .custom-selector-option.focused {
  background: var(--tagslist-bg-hover);
  color: var(--link);
}
.custom-selector .custom-selector-selected:hover, .custom-selector .custom-selector-selected.focused {
  filter: brightness(1.3);
}
.custom-selector .custom-selector-selected:after {
  content: '▼';
  font-size: .7em;
  line-height: 1.75em;
  float: right;
}
.custom-selector .custom-selector-list {
  background: var(--table-bg);
  position: absolute;
  margin: 0;
  width: 100%;
  height: 14em;
  overflow-y: scroll;
  z-index: 1000;
  transform: translateY(-50%) scaleY(0);
  opacity: 0;
  transition: 100ms all linear;
  display: block;
}
.custom-selector.searchable .custom-selector-list {
  margin-top: 34px;
}
.custom-selector .search-filter-selector {
  position: absolute;
  z-index: 1000;
  display: block;
  opacity: .8;
  transform: translateY(0) scaleY(0);
  transition: 20ms all linear;
}
.custom-selector.select-show .custom-selector-list, .custom-selector.select-show .search-filter-selector {
  display: block;
  top: 100%;
  transform: translateY(0) scaleY(1);
}
.custom-selector.select-show .custom-selector-list {
  opacity: 1;
}
.custom-selector.select-show .search-filter-selector:focus {
  outline: none;
  filter: brightness(1.3);
}
.custom-selector-option-icon {
  vertical-align: middle;
  margin-top: -0.25em;
  font-size: inherit;
  height: 1.2em;
  min-width: 32px;
  margin-right: 5px;
  object-fit: contain;
}
.custom-selector-option.no-icon {
  padding-left: 57px;
}

.content-text h1 , .content-cards h1{
    margin: 42px 0 18px;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
    color: var(--caption);
}

.faqAnswer {
    color: var(--section-header-h2);
    line-height: 30px;
    font-size: 18px;
    padding-bottom: 20px;
}
.faqQuestion {
    color: var(--caption);
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
}

.selector-module {
  display: none;
}
.selector-module.active {
  display: block;
}
.selector.active {
  border-bottom: 3px solid var(--section-header-h3);
}


header.navBar {
  height: 64px;
  position: relative;
  z-index: 10001;
  background-image: url(header_bg.png);
  font-family: 'Radiance';
  box-shadow: 0 0 10px var(--text-shadow);
  text-align: center;
  padding: 0 10%;
  font-size: 0;
}
.navBar.early-access {
  background-image: linear-gradient(to bottom, #69006d 0%, #41083c 100%);
}
.navLinks {
  height: 64px;
  float: left;
  width: 75%;
}
.navItem {
  margin: 20px 0;
  padding: 0 16px;
  font-size: 17px;
  line-height: 28px;
  color: var(--nav-item);
  display: inline-block;
  border-right: 1px solid var(--section-border);
  float: left;
}
.navItem.bold {
  font-weight: bolder;
}
.navItem:last-child {
  border: none;
}
.navItem.dotalogo, .navItem.arrow {
  font-size: 0;
  height: 33px;
  width: 33px;
  background-position: center;
  margin: 15px 0;
  background-repeat: no-repeat;
}
.navItem.dotalogo {
  background-image: url(spec_dota_logo_small.png);
}
.navItem.arrow {
  border-right: none;
  position: absolute;
  left: calc(10% - 48px);
}
.navItem.arrow a {
  text-align: center;
  opacity: .5;
  transition: 150ms all linear;
  display: block;
}
.navItem.arrow a:hover {
  text-decoration: none;
  opacity: 1;
  text-shadow: 0 0 5px #fff;
}
.navItem.arrow a::before {
  content: '❮';
  font-size: 28px;
  vertical-align: middle;
  line-height: 1.25em; 
}
.navItem.dotalogo a {
  width: 33px;
  height: 33px;
  display: block;
}
.navItem.submenu {
  position: relative;
  transition: 250ms all linear;
}
.navItem.submenu > a.parent::after {
  content: ' ❯';
  line-height: 1.5em;
  vertical-align: middle;
  font-size: .7em;
  margin-left: 7px;
}
.navItem.submenu ul {
  transform: translateY(-50%) scaleY(0);
  opacity: 0;
  transition: 100ms all linear;
  position: absolute;
  background-color: rgba(0,0,0,0.8);
  left: 0;
  list-style: none;
  min-width: 250px;
}
.navItem.submenu:hover {
  background-color: rgba(0,0,0,0.3);
  border-radius: 5px;
}
.navItem.submenu:hover a {
  text-decoration: none;
}
.navItem.submenu:hover ul {
  transform: translateY(0) scaleY(1);
  top: 95%;
  opacity: 1;
}
.navItem.submenu ul .navItem {
  margin: 5px 0;
  border-right: none;
  transition: 150ms all linear;
  display: block;
  float: none;
  text-align: left;
}
.navItem.submenu ul .navItem a {
  display: block;
}
.navItem.submenu ul .navItem:hover a {
  text-decoration: none;
}
.navItem.submenu ul .navItem:hover {
  background-color: rgba(255,255,255,0.1);
}
header.navBar a, header.navBar a:hover, header.navBar a:visited, header.navBar a:focus {
  color: var(--navlink) !important;
}

.navItem a img {
  vertical-align: middle;
  margin-top: -.1em;
  font-size: inherit;
  height: .95em;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}
.modal-content {
    position: fixed;
    bottom: 0;
    background-color: var(--modal-content-bg);
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
}
.modal-text {
    color: var(--modal-text);
    font-size: 22px;
    font-family: 'Radiance-SemiBold';
    padding: 30px 5%;
}
.modal-sublevel {
    color: var(--modal-text);
    font-size: 22px;
    font-family: 'Radiance-SemiBold';
    padding: 30px 5%;
    background-color: var(--section-header-h3);
    display: none;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
}
.modal-header {
    color: var(--modal-header);
    background-color: var(--selectors-bg);
    font-size: 22px;
    font-family: 'Radiance-SemiBold';
    padding: 30px 5%;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

footer {
  color: var(--footer);
  font-size: 12px;
  line-height: 20px;
  padding: 40px 0 80px 0;
  margin: auto;
  width: 70%;
}
footer a, footer a:active, footer a:visited, footer a:focus {
  color: var(--footer-link);
}
.share-links, .locale-changer {
  margin: 15px 0;
  float: right;
  font-size: 0;
}
.share-links .share-link {
  height: 33px;
  width: 33px;
  display: inline-block;
  opacity: 0.5;
  background-image: url('share.png');
  background-repeat: no-repeat;
  transition: all 300ms ease;
}
.share-links .share-link:hover {
  opacity: 1;
}
.share-links .share-link a {
  font-size: 0;
  height: 33px;
  width: 33px;
  display: inline-block;
  cursor: pointer;
}
.share-links .share-link.reddit {
  background-position: 0;
}
.share-links .share-link.twitter {
  background-position: -33px;
}
.share-links .share-link.vk {
  background-position: -66px;
}
.share-links .share-link.fb {
  background-position: -99px;
}
.select-locale {
  height: 33px;
  margin-top: 2px;
  margin-right: 8px;
  font-size: 15px;
  text-align: center;
  width: 100px;
  background: var(--selectors-bg);
  color: var(--selector-link);
  border: none;
}

.tabs-block {
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.tabs-block .tab[type=radio] {
  display: none;
}

.tabs-block .tabs-container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1;
  width: 100%;
  color: var(--link);
}

.tabs-block .tabs-container .tabs-container-tab {

}

.tabs-block .tabs-container .tabs-container-tab > label {
  display: flex;
  min-width: 12em;
  font-size: 2em;
  line-height: 2em;
  border-bottom: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-image: linear-gradient(to bottom, var(--name-bg), rgba(0,0,0,0));
  opacity: .35;
  margin: 3px 7px;
  transition: 150ms opacity linear;
}

.tabs-block .tabs-container .tabs-container-tab:hover > label {
  opacity: .6;
}

.tabs-block [type=radio]:first-of-type:checked  ~ .tabs-container .tabs-container-tab:nth-of-type(1) label,
.tabs-block [type=radio]:nth-of-type(2):checked ~ .tabs-container .tabs-container-tab:nth-of-type(2) label,
.tabs-block [type=radio]:nth-of-type(3):checked ~ .tabs-container .tabs-container-tab:nth-of-type(3) label,
.tabs-block [type=radio]:nth-of-type(4):checked ~ .tabs-container .tabs-container-tab:nth-of-type(4) label,
.tabs-block [type=radio]:nth-of-type(5):checked ~ .tabs-container .tabs-container-tab:nth-of-type(5) label,
.tabs-block [type=radio]:nth-of-type(6):checked ~ .tabs-container .tabs-container-tab:nth-of-type(6) label {
  opacity: 1;
}

.tabs-block .tab-content {
  display: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.tabs-block .tab-content:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: .5;
  background-image: linear-gradient(to bottom, var(--table-bg), rgba(0,0,0,0));
  z-index: -1;
}

.tabs-block [type=radio]:first-of-type:checked ~ .tab-content:nth-of-type(1),
.tabs-block [type=radio]:nth-of-type(2):checked~ .tab-content:nth-of-type(2),
.tabs-block [type=radio]:nth-of-type(3):checked~ .tab-content:nth-of-type(3),
.tabs-block [type=radio]:nth-of-type(4):checked~ .tab-content:nth-of-type(4),
.tabs-block [type=radio]:nth-of-type(5):checked~ .tab-content:nth-of-type(5),
.tabs-block [type=radio]:nth-of-type(6):checked~ .tab-content:nth-of-type(6) {
  display: block;
  flex: 1;
}

.tabs-block .tab-content.tagslist, .tabs-block .tab-content.list-pinned {
  margin-left: 2.5%;
  margin-right: 2.5%;
}