@font-face {
  font-family: 'Radiance';
  src:url("http://cdn.dota2.com/apps/dota2/fonts/radiance.eot");
  src:url("http://cdn.dota2.com/apps/dota2/fonts/radiance.eot?#iefix") format("embedded-opentype"),
    url("http://cdn.dota2.com/apps/dota2/fonts/radiance.woff") format("woff"),url("http://cdn.dota2.com/apps/dota2/fonts/radiance.ttf") format("truetype"),
    url("http://cdn.dota2.com/apps/dota2/fonts/radiance.svg#ywftsvg") format("svg");
  font-weight:normal;font-style:normal
}
@font-face {
  font-family: 'Radiance-SemiBold';
  src:url("http://cdn.dota2.com/apps/dota2/fonts/radiance-semibold.eot");
  src:url("http://cdn.dota2.com/apps/dota2/fonts/radiance-semibold.eot?#iefix") format("embedded-opentype"),
    url("http://cdn.dota2.com/apps/dota2/fonts/radiance-semibold.woff") format("woff"),
    url("http://cdn.dota2.com/apps/dota2/fonts/radiance-semibold.ttf") format("truetype"),
    url("http://cdn.dota2.com/apps/dota2/fonts/radiance-semibold.svg#ywftsvg") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: Radiance, Noto Sans, arial, helvetica, sans-serif;
  line-height: normal;
  font-size: 12px;
  padding: 0;
  margin: 0;
}

body {
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #0a0a0a;
}

a, a:active, a:visited, a:focus {
	font-size: 18px;
	color: #fff;
  text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.section-header {
	margin: 0 auto;
	height: 438px;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #090909;
}

#header-image {
	/* background-image: url('header_procircuit.jpg'); */
  background-image: url('fpl.jpg');
}

.section-header h1 {
	width: 100%;
	text-align: center;
	font-size: 48px;
	letter-spacing: 4px;
	text-transform: uppercase;
	color: white;
	padding-top: 158px;
	margin-top: -8px;
	margin-bottom: 0px;
	font-family: 'Radiance-SemiBold';
	text-shadow: 2px 2px 10px #000000;
}

.section-header h2 {
	width: 100%;
	text-align: center;
	font-size: 24px;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: #bbb;
	margin-top: 4px;
	font-family: 'Radiance-SemiBold';
	text-shadow: 2px 2px 6px #000000;
}

.section-header h3 {
	width: 100%;
	text-align: center;
	font-size: 14px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #999;
	margin-top: 8px;
	font-family: 'Radiance-SemiBold';
	text-shadow: 2px 2px 3px #000000;
}

.content-section {
	background-image: url('main_bg.jpg');
	background-position: top center;
	background-repeat: no-repeat;
	margin-top: 0px;
	padding-top: 40px;
	background-color: #000000;
	padding-bottom: 80px;
  overflow: hidden;
}

.content-section .content-header {
	background-color: #525353;
	width: 600px;

	margin-left: auto;
	margin-right: auto;

	font-size: 22px;
	text-align: center;
	color: #D9D9D9;
	text-transform: uppercase;
	letter-spacing: 4px;
	padding: 17px 0;
	font-family: 'Radiance-SemiBold';

	text-shadow: 2px 2px 6px #000000;
}

.content-text {
	text-align: center;

	font-size: 18px;
	line-height: 34px;
	color: #aaa;


	margin: 30px 20% 0;

	margin-top: 30px;
}

.selector-modules {
	margin-left: auto;
	margin-right: auto;

	color: #464646;
	font-family: 'Radiance-SemiBold';

	text-align: center;

	margin-top: 90px;
	margin-bottom: 20px;

  font-size: 24px;
}
.selector-modules-sublevel {
	text-align: center;

  border-top: 1px solid #464646;
  color: #aaa;

  padding-top: 20px;
	margin: 0 25% 20px;

  font-size: 20px;
}
.selector-modules-level-3 {
	text-align: center;

  border-top: 1px solid #464646;
  color: #aaa;

  padding-top: 20px;
	margin: 0 25% 20px;

  font-size: 18px;
}
.selector-modules-level-4 {
	text-align: center;

  border-top: 1px solid #464646;
  color: #aaa;

  padding-top: 20px;
	margin: 0 25% 20px;

  font-size: 16px;
}
.selector {
  font-size: inherit;
}

.selector
{
	font-size: inherit;
	text-transform: uppercase;
	letter-spacing: 4px;

	padding-left: 10px;
	padding-right: 10px;

	cursor: pointer;

	font-family: 'Radiance-SemiBold';

	color: #D9D9D9;
  display: inline-block;
}
.selector:hover {
	color: white;
}

.content-text h1 {
    margin-top: 60px;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
    color: #D9D9D9;
}

.faqAnswer {
    color: #bbb;
    line-height: 30px;
    font-size: 18px;
    padding-bottom: 20px;
}
.faqQuestion {
    color: #D9D9D9;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
}

footer {
    padding-top: 80px;
    padding-bottom: 120px;
    width: 1000px;
    margin: auto;
}

.selector-module {
  display: none;
}
.selector-module.active {
  display: block;
}
.selector.active {
  text-decoration: underline;
}
