#header-image {
  background-image: url('header_dotapit.jpg');
}

table.list td, table.pvp td {
    background-color: #0a4d6d;
}

.content-section {
    background-image: none;
    background-color: #101e2f;
}

table.list .thead {
    background-color: #835300 !important;
}

table.pvp tr td:first-child {
  background-color: #463d52 !important;
}
table.pvp .thead th  {
  background-color: #403d52 !important;
}

.section-header h2 {
	color: #92a0bb;
}

.section-header h3 {
	color: #728293;
}

.content-section .content-header {
	background-color: #835300;
}


.modal-content {
    background-color: #005583;
}
.modal-text {
    color: #fff;
}
.modal-sublevel {
    color: #fff;
    background-color: #727e93;
}
.modal-header {
    color: #fff;
    background-color: #0a4d6d;
}

.team-card .team-name, .player-card .player-name {
  background-color: #835300;
}

.player-card .player-team {
  background-color: #403d52;
}
