/* background-color: #192023;*/

#header-image {
  background-image: url('header_esl.jpg');
}

.content-section {
    background-image: url('esl_one_hamburg_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.select-selectors {
    background: #2d2339;
    color: #fff;
}

.selector-modules , .selector-modules-sublevel , .selector-modules-level-3 , .selector-modules-level-4 {
    color: #ff015b;
    line-height: 32px;
}
.selector-modules-sublevel , .selector-modules-level-3 , .selector-modules-level-4 {
    border-top-color: #ff015b;
}

table.list td, table.pvp td {
    background-color: #2d2339;
}

table.list .thead {
    background-color: #483d52 !important;
}

table.pvp tr td:first-child {
  background-color: #463d52 !important;
}
table.pvp .thead th  {
  background-color: #403d52 !important;
}

.section-header h2 {
	color: #9b92bb;
}

.section-header h3 {
	color: #7a7293;
}

.content-section .content-header {
	background-color: #483d52;
}


.modal-content {
    background-color: #483d52;
}
.modal-text {
    color: #fff;
}
.modal-sublevel {
    color: #fff;
    background-color: #7a7293;
}
.modal-header {
    color: #fff;
    background-color: #2d2339;
}

table.list, table.pvp {
    border: 1px solid transparent;
}
table.list td, table.pvp td {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    opacity: 0.6;
}
table.list tr:hover td, table.pvp tr:hover td {
    background-color: #5a1941;
}
