/* background-color: #192023;*/

#header-image {
  background-image: url('header_sa.jpg');
}

table.list td, table.pvp td {
    background-color: #2d2339;
}

table.list .thead {
    background-color: #483d52 !important;
}

table.pvp tr td:first-child {
  background-color: #463d52 !important;
}
table.pvp .thead th  {
  background-color: #403d52 !important;
}

.section-header h2 {
	color: #9b92bb;
}

.section-header h3 {
	color: #7a7293;
}

.content-section .content-header {
	background-color: #483d52;
}


.modal-content {
    background-color: #483d52;
}
.modal-text {
    color: #fff;
}
.modal-sublevel {
    color: #fff;
    background-color: #7a7293;
}
.modal-header {
    color: #fff;
    background-color: #2d2339;
}
