/* background-color: #192023;*/

#header-image {
  background-image: url('header_summit8.jpg');
  height: 220px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.content-section {
    background-image: url('bg_summit8.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 200px;
    background-attachment: fixed;
}

table.list td, table.pvp td {
    background-color: #2b2e46;
}

table.list .thead {
    background-color: #484f86 !important;
}

table.pvp tr td:first-child {
  background-color: #463d52 !important;
}
table.pvp .thead th  {
  background-color: #484f86 !important;
}

.section-header h1 {
    width: auto;
    text-align: center;
    font-size: 64px;
    text-transform: uppercase;
    color: white;
    padding-top: 30px;
    margin-bottom: 0px;
    font-family: "Noto Sans SemiBold", "Open Sans", sans-serif;
    font-weight: bolder;
    text-decoration: underline;
    text-shadow: black 0 0px 15px;
    margin-left: 150px;
    overflow: hidden;
}

.section-header h2 {
	color: #fff;
  text-shadow: black 0 0px 7px;
  margin-left: 150px;
  width: auto;
}

.section-header h3 {
	color: rgba(255,255,255,0.5);
  text-shadow: black 0 0px 4px;
  margin-left: 150px;
  width: auto;
}

.content-section .content-header {
	background-color: #484f86;
}


.modal-content {
    background-color: #484f86;
}
.modal-text {
    color: #fff;
}
.modal-sublevel {
    color: #fff;
    background-color: #7a7293;
}
.modal-header {
    color: #fff;
    background-color: #2d2339;
}

.team-card .team-name, .player-card .player-name {
  background-color: #3a3f6c;
}

.player-card .player-team {
  background-color: #484f86;
}


.selector-modules , .selector-modules-sublevel , .selector-modules-level-3 , .selector-modules-level-4 {
    color: #484f86;
    line-height: 32px;
}
.selector-modules-sublevel , .selector-modules-level-3 , .selector-modules-level-4 {
    border-top-color: #484f86;
}
.content-cards .match-card, .content-cards .player-card {
  border-bottom-color: #484f86;
}
