/* background-color: #192023;*/

* {
  font-family: 'Lato', Roboto, 'Noto Sans', sans-serif;
}

body {
  background-color: #282a2b;
}
header.navBar a, header.navBar a:hover, header.navBar a:visited, header.navBar a:focus {
  color: #eee !important;
}

#header-image {
  background-image: url('supermajor_assets/header.jpg');
}

.content-section {
    background-image: url('supermajor_assets/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #fff;
}
.content-cards, .content-text {
  color: #444;
}

a, a:hover, a:visited, a:focus {
  color: #000;
}
table.list, table.pvp {
  color: #000;
}

.content-text.overview {
  color: #000;
}

.select-selectors {
    background: #ddd;
    color: #000;
}
.selector {
  color: #000;
  padding: 0 0 10px 0;
  margin: 7px 10px 0;
}
.selector.active {
  text-decoration: none;
  border-bottom: 3px solid black;
  padding-bottom: 7px;
}
.selector:hover {
  color: #000;
  text-decoration: none;
  border-bottom: 3px solid black;
  padding-bottom: 7px;
}
.selector a:hover {
  text-decoration: none;
}
.selector-modules , .selector-modules-sublevel , .selector-modules-level-3 , .selector-modules-level-4 {
    color: #aaa;
    line-height: 32px;
}
.selector-modules-sublevel , .selector-modules-level-3 , .selector-modules-level-4 {
    border-top-color: #000;
}
.content-cards .match-card, .content-cards .player-card {
  border-bottom-color: #000;
}

table.list td, table.pvp td {
    background-color: rgba(0,0,0,0.1);
}

table.list .thead {
    background-color: #555 !important;
}

table.pvp tr td:first-child {
  background-color: #aaa !important;
}
table.pvp .thead th  {
  background-color: #999 !important;
}

.section-header h1, .section-header h2, .section-header h3 {
  font-family: 'Lato', 'Roboto', 'Noto Sans', sans-serif;
}

.section-header h1 {
  text-shadow: 2px 2px 6px black;
}

.section-header h2 {
	/* color: #279d91;*/
  color: #333;
  text-shadow: none;
}

.section-header h3 {
	color: #000;
  text-shadow: none;
}

.content-section .content-header {
	background-color: #279d91;
  color: #fff;
  text-shadow: none;
  font-size: 26px;
  font-weight: bold;
  font-family: inherit;
  text-shadow: 2px 2px 6px black;
}


.modal-content {
    background-color: #ddd;
}
.modal-text {
    color: #000;
}
.modal-sublevel {
    color: #000;
    background-color: #aaa;
}
.modal-header {
    color: #fff;
    background-color: #279d91;
}

table.list, table.pvp {
    border: 1px solid transparent;
}
table.list td, table.pvp td {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    opacity: 0.8;
    transition: 100ms ease all;
}
table.list tr:hover td, table.pvp tr:hover td {
    background-color: rgba(0,0,0,0.2);
}
.content-text h1, .content-cards h1, table.pvp caption, table.list caption {
  color: #000;
}

.team-card .team-name, .player-card .player-name {
  background-color: #67c6bc;
}

.player-card .player-team {
  background-color: #ddd;
  color: #333;
}
.section-caption {
  color: #000;
}
.match-id {
  color: #000;
}

footer {
  color: #ddd;
  padding: 18px 0;
  display:block;
  text-align: center;
}
footer a, footer a:hover, footer a:visited, footer a:focus {
  color: #eee;
}

table.pvp tr td.low-wr {
  background-color: #ce4949 !important;
}
table.pvp tr td.high-wr {
  background-color: #49cf53 !important;
}

.hero .hero_name {
  color: #aaa
}
